<!DOCTYPE html>
<html ng-app="MyApp">
<head>
<title>My Angular App</title>
<style>
p {
 width:100px;
 height:100px;
 margin:0;
 border:1px solid black;
 text-align:center;
 display:inline-block;
 line-height:100px;
 font-size:50px;
 background:white;
}
p.gone { opacity:0; }

.scale { border-radius:50px; }
</style>
</head>
<body>

<ng-timeline match-class="boxes" on-event="addClass">
  <ng-step add-class="red"></ng-step>
  <ng-step selector="p"
           to="{background:randomColor(), transform:rotate(), color:randomColor()}"
           add-class="scale"
           duration="0.5"
           stagger="0.1"></ng-step>
  <ng-step selector="p:nth-child(even)"
           stagger="0.05"
           add-class="gone"
           duration="0.3"></ng-step>
  <ng-step selector="p:nth-child(odd)"
           stagger="0.05"
           add-class="gone"
           duration="0.3"></ng-step>
  <ng-step selector="p"
           remove-class="gone scale"
           duration="1"
           to="{transform:'rotate(0deg)'}"></ng-step>
  <ng-step selector="p"
           remove-class="gone scale"
           duration="0.5"
           to="{background:'white', color:'black', margin:'20px', transform:'rotate(20deg)'}"></ng-step>
</ng-timeline>

<div ng-if="bool" class="boxes">
  <p ng-repeat="item in items">{{ item }}</div>
</div>

<button ng-click="bool=true">Start</button>

<script src="../build/angular.js"></script>
<script src="../build/angular-animate.js"></script>
<script src="../build/angular-timeline.js"></script>
<script>
angular.module("MyApp", ['ngAnimate', 'ngTimeline'])
  .run(["$rootScope", function($rootScope) {

    $rootScope.items = [];
    var rand = 50;
    for (var i=0;i<rand;i++) {
      $rootScope.items.push(i);
    }

    $rootScope.className = 'blue rotate';
    $rootScope.rotate = function() {
      return 'rotate(' + (Math.random() < 0.5 ? -1 : 1) * Math.floor(Math.random() * 720) + 'deg)';
    };
    $rootScope.randomColor = function() {
      var r = Math.floor(Math.random() * 255) + 1;
      var g = Math.floor(Math.random() * 255) + 1;
      var b = Math.floor(Math.random() * 255) + 1;
      var color = '#' + [
        pad(r.toString(16)),
        pad(g.toString(16)),
        pad(b.toString(16))
      ].join('');

      return color;
    };

    function pad(val) {
      return val.length == 1 ? '0' + val : val;
    }
  }])
</script>
</body>
</html>
